asgiref==3.10.0
    # via django
boto3==1.41.5
    # via -r C:/Users/joaon/code/qr_code/admin/requirements/requirements.in
botocore==1.41.5
    # via
    #   boto3
    #   s3transfer
certifi==2025.11.12
    # via requests
charset-normalizer==3.4.4
    # via requests
click==8.3.1
    # via typer
colorama==0.4.6
    # via click
django==5.2.8
    # via
    #   -r C:/Users/joaon/code/qr_code/admin/requirements/requirements.in
    #   djangorestframework
djangorestframework==3.16.1
    # via -r C:/Users/joaon/code/qr_code/admin/requirements/requirements.in
idna==3.11
    # via requests
jmespath==1.0.1
    # via
    #   boto3
    #   botocore
markdown-it-py==4.0.0
    # via rich
mdurl==0.1.2
    # via markdown-it-py
pillow==12.0.0
    # via -r C:/Users/joaon/code/qr_code/admin/requirements/requirements.in
pygments==2.19.2
    # via rich
python-dateutil==2.9.0.post0
    # via botocore
requests==2.32.5
    # via -r C:/Users/joaon/code/qr_code/admin/requirements/requirements.in
rich==14.2.0
    # via typer
s3transfer==0.15.0
    # via boto3
segno==1.6.6
    # via -r C:/Users/joaon/code/qr_code/admin/requirements/requirements.in
shellingham==1.5.4
    # via typer
six==1.17.0
    # via python-dateutil
sqlparse==0.5.3
    # via django
typer==0.20.0
    # via -r C:/Users/joaon/code/qr_code/admin/requirements/requirements.in
typing-extensions==4.15.0
    # via typer
tzdata==2025.2
    # via django
urllib3==2.5.0
    # via
    #   botocore
    #   requests
