# mysqlclient           # MySQL client, currently not used
# psycopg               # PostgreSQL client, currently not used
boto3
django
django-jazzmin          # Admin site theme
djangorestframework     # Django Rest Framework (DRF)
drf-spectacular         # OpenAPI docs, nicer than standard DRF
jinja2                  # Templating
pillow
python-dotenv
requests
segno                   # QR Code generation
typer                   # CLI app
whitenoise              # Static file serving
