boto3
django
djangorestframework     # Django Rest Framework (DRF)
drf-spectacular         # OpenAPI docs, nicer than standard DRF
jinja2                  # Templating
# mysqlclient           # MySQL client, currently not used
pillow
# psycopg               # PostgreSQL client, currently not used
python-dotenv
requests
segno                   # QR Code generation
typer                   # CLI app
